{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Verify Your Email Address" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">{% trans "Verify Your Email Address" %}</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-info" role="alert">
                        {% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 