Django==5.0.2
django-crispy-forms==2.1
crispy-bootstrap5==2023.10
Pillow==10.2.0
django-allauth==0.58.2
django-environ==0.11.2
python-dotenv==1.0.1
django-cleanup==8.1.0
django-filter==24.1
django-widget-tweaks==1.5.0 